<h1>Edit employee</h1>

<%= form_for [@division, @employee] do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit  %>
<% end %>

<form>
  <label for="project_id">Add a project to this employee</label>
  <select name="project_id">
    <% @projects.each do |project| %>
    <option value="<%= project.id %>"><%= project.name %></option>
  </select>
  <% end %>
  <button type="submit" class="btn">Go!</button>
</form>
