<h1><%= @employee.name %></h1>

<p><%= Employee.old %></p>

<% if @employee.projects.any? %>
<ul>
  <% @employee.projects.each do |project| %>
  <li><%= link_to project.name, project_path(project) %></li>
  <% end %>
</ul>
<% else %>
<p>There are no projects yet.</p>
<% end %>

<p><%= link_to "Edit", edit_division_employee_path(@division, @employee) %></p>
<p><%= link_to "Delete", division_employee_path(@division, @employee),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to employees", division_employees_path %></p>
