<h1><%= @project.name %></h1>

<ul>
  <% @project.employees.each do |employee| %>
  <li><%= employee.name %></li>
  <% end %>
</ul>

<%# <!-- <p><%= link_to "Add employee to project", new_employees_project_path(@project) %></p> --> %>
<p><%= link_to "Edit", edit_project_path(@project) %></p>
<p><%= link_to "Delete", project_path(@project),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to projects", projects_path %></p>
